
body {
    margin: 0;
    line-height: normal;
}


:root {
    
    /* fonts */
    --font-inter: Manrope;
    
    /* font sizes */
    --font-size-6xl: 1.56rem;
    --font-size-11xl: 1.88rem;
    
    /* Colors */
    --color-white: #000;
    
}