/* styles.css */

/* Set the font family for all taglines */
.tagline1,
.tagline2,
.tagline3 {
  font-family: 'Manrope', sans-serif;
}

/* First Tagline - Similar to H1 */
.tagline1 {
  font-size: 7.5em;
  font-weight: normal;
  color: #333; /* Adjust color as needed */
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Second Tagline - Smaller than H1 */
.tagline2 {
  font-size: 2.5em;
  font-weight: bold;
  color: #555; /* Adjust color as needed */
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Third Tagline - Smaller than Tagline2 */
.tagline3 {
  font-size: 2em;
  font-weight: normal;
  color: #777; /* Adjust color as needed */
  justify-content: center;
  align-items: center;
  text-align: center;
}
